@import ../../../assets/style/_mixins

.popupWrapper
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw

    background-color: #4A4B4B

    display: flex
    justify-content: center
    align-items: center
    .popup
        background-color: #FFF
        text-align: center
        border-radius: 10px
        max-width: 850px
        .popupInner
            p
                margin: 0 0 80px 0
                font-weight: 700
                font-size: 25px
                line-height: 31px
                padding: 0 265px
            button
                @include defaultBtn
                font-size: 20px !important
            span
                display: block
                margin: 30px 0
                font-size: 20px
                line-height: 25px
                color: #0089A7
                cursor: pointer
