.mail, .phoneNum
    margin-top: 50px
    @media screen and ( max-width: 850px )
        margin-top: 5.882vw
    &.invalid
        label, span
            color: #E52F2F
        input
            border: 2px solid #E52F2F
    .pnWrapper
        width: auto
        height: auto
        position: relative
        .pnsup
            position: absolute
            top: 37px
            left: 35px
            transform: translate(-50%, -50%)
            font-size: 16px
            line-height: 21px
            font-weight: 400
            font-family: "Arial", Times, serif

    label
        display: block
        font-size: 18px
        line-height: 21px
        font-weight: 500
    span
        font-size: 14px
        line-height: 21px
        font-weight: 300
        display: block
        color: #2E2E2E
    input::placeholder
        font-size: 16px
        line-height: 21px
        font-weight: 400

.phoneNum
    input
        padding-left: 55px !important
    input:not(:focus)
        padding-left: 15px !important
    input:focus::placeholder
        color: transparent
