.addRecordWrapper
    @media screen and ( max-width: 925px )
        padding: 0 15px
    .exitBtn
        cursor: pointer
        position: absolute
        left: 70px
        top: 50px
        @media screen and ( max-width: 1135px )
            left: 6.167vw
    .phoneExitBtn
        cursor: pointer
        position: absolute
        left: 3vw
        top: 11.176vw
    .formWrapper
        margin: 0 auto
        margin-top: 90px
        @media screen and ( max-width: 850px )
            margin-top: 10.588vw
        .formHeader
            text-align: center
            margin: 0 auto
            cursor: pointer

            display: flex
            justify-content: center
            span
                font-size: 20px
                line-height: 24px
                font-weight: 700
                margin: 0 25px
                hr
                    margin: 0 auto
                    margin-top: 15px
                    border: 1px solid #000
                    width: 185px
            span:nth-child(2)
                hr
                    width: 225px
        .mobileFormHeader
            text-align: center
            span
                font-size: 20px
                line-height: 24px
                font-weight: 700
                margin: 0 25px
                @media screen and ( max-width: 375px )
                    font-size: 5.333vw
                    white-space: nowrap
            p
                margin-top: 5px
                font-size: 17px
                line-height: 16.5px
                color: #898989
