.laptopFormWrapper {
  max-width: 1225px;
  margin: 0 auto;
  margin-top: 25px;
}
.laptopFormWrapper form {
  max-width: 875px;
  margin: 0 auto;
  margin-top: 70px;
}
@media screen and (max-width: 850px) {
  .laptopFormWrapper form {
    margin-top: 8.235vw;
  }
}
.laptopFormWrapper form .imgUploadWrapper {
  width: 100%;
  height: 420px;
  border: dashed 2px #4386A9;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .laptopFormWrapper form .imgUploadWrapper {
    height: 59vw;
  }
}
.laptopFormWrapper form .imgUploadWrapper .error {
  margin-bottom: 20px;
}
.laptopFormWrapper form .imgUploadWrapper .error.hidden {
  display: none;
}
.laptopFormWrapper form .imgUploadWrapper.invalid {
  border: 2px dashed #E52F2F;
  background-color: #FFF1F1;
}
.laptopFormWrapper form .imgUploadWrapper.invalid span {
  color: #E52F2F;
}
.laptopFormWrapper form .imgUploadWrapper.pnUpload {
  cursor: pointer;
}
.laptopFormWrapper form .imgUploadWrapper span {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 195px;
  color: #4386A9;
}
.laptopFormWrapper form .imgUploadWrapper button {
  background-color: #62A1EB;
  font-size: 20px;
  line-height: 24.42px;
  padding: 15px 60px;
  text-align: center;
  border: unset;
  outline: unset;
  color: #fff;
  border-radius: 10px;
  max-width: 385px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 65px;
}
@media screen and (max-width: 445px) {
  .laptopFormWrapper form .imgUploadWrapper button {
    display: none;
  }
}
.laptopFormWrapper form .imgUploadWrapper input[type=file],
.laptopFormWrapper form .imgUploadWrapper input[type=image] {
  display: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.laptopFormWrapper form .uploadInfoWrapper {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .laptopFormWrapper form .uploadInfoWrapper {
    padding: 2.941vw 0;
  }
}
@media screen and (max-width: 390px) {
  .laptopFormWrapper form .uploadInfoWrapper {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.laptopFormWrapper form .uploadInfoWrapper button {
  background-color: #62A1EB;
  font-size: 20px;
  line-height: 24.42px;
  padding: 15px 60px;
  text-align: center;
  border: unset;
  outline: unset;
  color: #fff;
  border-radius: 10px;
  max-width: 385px;
  cursor: pointer;
  padding: 18px 25px;
  font-size: 20px;
  line-height: 25px;
}
@media screen and (max-width: 595px) {
  .laptopFormWrapper form .uploadInfoWrapper button {
    padding: 3.025vw 4.202vw;
    white-space: nowrap;
  }
}
@media screen and (max-width: 390px) {
  .laptopFormWrapper form .uploadInfoWrapper button {
    font-size: 4.737vw;
    line-height: 5.789vw;
  }
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 670px) {
  .laptopFormWrapper form .uploadInfoWrapper .fileInfo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 445px) {
  .laptopFormWrapper form .uploadInfoWrapper .fileInfo {
    flex-wrap: unset;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo svg {
  min-width: 22px;
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo .imgName {
  margin: 0 15px 0 25px;
}
@media screen and (max-width: 850px) {
  .laptopFormWrapper form .uploadInfoWrapper .fileInfo .imgName {
    margin: 0 1.765vw 0 2.941vw;
  }
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo .fileSize {
  color: #5F5F5F;
  font-size: 17px;
  line-height: 20px;
}
@media screen and (max-width: 670px) {
  .laptopFormWrapper form .uploadInfoWrapper .fileInfo .fileSize {
    display: none;
  }
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo .fileInfoWrapper {
  display: flex;
  flex-direction: column;
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo .fileInfoWrapper .imgName {
  margin: 0;
}
.laptopFormWrapper form .uploadInfoWrapper .fileInfo .fileInfoWrapper .fileSize {
  margin: 0;
  display: block;
}
.laptopFormWrapper .laptopBrandWrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 850px) {
  .laptopFormWrapper .laptopBrandWrapper {
    margin-top: 5.882vw;
  }
}
@media screen and (max-width: 715px) {
  .laptopFormWrapper .laptopBrandWrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
.laptopFormWrapper .laptopBrandWrapper .nameInput.invalid input {
  border: 2px solid #E52F2F;
}
.laptopFormWrapper .laptopBrandWrapper .nameInput.invalid span, .laptopFormWrapper .laptopBrandWrapper .nameInput.invalid label {
  color: #E52F2F;
}
.laptopFormWrapper .laptopBrandWrapper .brandInput.invalid .laptopSelector {
  border: 2px solid #E52F2F;
}
.laptopFormWrapper .laptopBrandWrapper div {
  width: 100%;
}
.laptopFormWrapper .laptopBrandWrapper div label {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
.laptopFormWrapper .laptopBrandWrapper div span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  display: block;
  color: #2E2E2E;
}
.laptopFormWrapper .laptopBrandWrapper div input {
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 10px;
  border: 2px solid #8AC0E2;
  outline: unset;
}
.laptopFormWrapper .laptopBrandWrapper div input::-moz-placeholder {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.laptopFormWrapper .laptopBrandWrapper div input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.laptopFormWrapper .laptopBrandWrapper div input::placeholder {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector {
  position: relative;
  width: 100%;
  padding: 15px 20px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector span {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector svg.displayed {
  transform: rotate(180deg);
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector.disabled {
  pointer-events: none !important;
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector .laptopOptions {
  top: 50px;
  left: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 875px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.2509803922);
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector .laptopOptions span {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.5px;
  display: block;
  padding: 10px;
  cursor: pointer;
}
.laptopFormWrapper .laptopBrandWrapper .laptopSelector .laptopOptions span:hover {
  background-color: #E7F0F8;
}
.laptopFormWrapper .defaultHr {
  margin: 50px 0;
  border: 1px solid #C7C7C7;
  width: 100%;
}
@media screen and (max-width: 715px) {
  .laptopFormWrapper .defaultHr {
    display: none;
  }
}/*# sourceMappingURL=LaptopForm.css.map */